body {
  font: normal 115%/1.5em Verdana, Geneva, sans-serif;
  color: #444;
  background: transparent url(../img/background.png) top left repeat-x;
}

a, a:link, input, textarea {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a, a:link {
  color: #087021;
  text-decoration: none;
}

a:hover, a:focus { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'TeXGyreHerosCnBold';
  line-height: 45px;
  clear: none;
}

h1 { font-size: 2.25em; }
h2 { font-size: 2.15em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.65em; }
h6 { font-size: 1.5em; }

.fleft { float: left; }
.fright { float: right; }

#page {
  max-width: 960px;
  margin: 0 auto;
}

#masthead {
  overflow: hidden;
  height: 168px;
}

  #masthead img.fright { margin-right: 5px; }

.site-branding {
  overflow: hidden;
  float: left;
}

  .site-branding h1 { float: left; }

    .site-branding h1 a {
      display: block;
      width: 120px;
      height: 109px;
      text-indent: -9999px;
      background: transparent url(../img/logo.png) 0 0 no-repeat;
    }

  .site-branding h2 {
    float: left;
    width: 475px;
    height: 92px;
    background: transparent url(../img/logo-texto.gif) 0 0 no-repeat;
    overflow: hidden;
    line-height: 550em;
  }

  .widget_search .submit {
    display: block;
    float: left;
    margin-top: 8px;
    background: transparent url(../img/sprite-input-search.jpg) 0 0 no-repeat;;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    height: 32px;
    width: 39px;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  form#searchform {
    width: 282px;
    min-height: 47px;
    background: transparent url(../img/back-search.png) 0 0 no-repeat;
    overflow: hidden;
  }

    form#searchform input.field {
      border-radius: 0;
      border-color: #d4d4d4;
      margin: 0;
      display: block;
      float: left;
      margin: 8px 0 0 8px;
      width: 76%;
      height: 24px;
    }

#main {
  overflow: hidden;
  padding-top: 25px;
}

  #main #primary {
    width: 72.5%;
    float: left;
  }

  #main #secondary {
    width: 25%;
    float: right;
  }

#site-navigation ul {
  font-family: 'TeXGyreHerosCnRegular';
  overflow: hidden;
  clear: both;
  margin-top: 18px;
}

  #site-navigation ul li {}

    #site-navigation ul li a {
      color: #333;
      font-size: 1.65em;
      line-height: 35px;
      padding: 0 10px;
      background: transparent url(../img/back-mainmenu.png) -350px 0 no-repeat;
    }

    #site-navigation ul li a:hover,
    #site-navigation ul li a:focus {
      background: transparent url(../img/back-mainmenu.png) 0 0 no-repeat;
    }

#random-header {
  text-align: center;
  margin-top: 20px;
}

/* SLIDER */

.page-template-page-home-php #main { padding-top: 0; }

#top-content .wooslider {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
} 

  #top-content .wooslider .slide-content { margin: 0; }

  #top-content .wooslider .wooslider-control-paging { margin-top: 0 !important; }

    #top-content .wooslider .wooslider-control-paging li a {
      background: transparent url(../img/paginacion.png) 0 0 no-repeat;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }

    #top-content .wooslider .wooslider-control-paging li a.wooslider-active { background-position: 0 -11px; }

  #top-content .wooslider .wooslider-pauseplay a {
    background: transparent url(../img/play-pause.png) 110% 0 no-repeat;
    bottom: -20px;
  }

/* END - SLIDER */
