@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {

  #main #primary { padding-left: 10px; }
  #main #secondary { padding-right: 10px; }

}

@media screen and (max-width: 895px) {

  #site-navigation ul li a { font-size: 1.5em; }

}

@media screen and (max-width: 768px) {

  #main #primary, #main #secondary {
    padding: 0 10px;
    float: none;
    width: 94%;
  }

  #site-navigation ul li a { font-size: 1.25em; }

  #secondary .widget {
    float: left;
    width: 50%;
  }

  #secondary .widget_facebook_likebox { clear: both; }

  #site-navigation-two {
    width: 40%;
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: left;
  }

  .menu-menu-secundario-de-navegacion-container ul {
    display: block;
    margin: 10px 0 20px 20px;
    list-style: disc;
  }

    .menu-menu-secundario-de-navegacion-container ul li {
      float: none;
      height: 25px;
      border-bottom: none;
    }

  #colophon .footer-inner { margin: 0; }

  .footer-inner .fleft {
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
  }

  .footer-inner .fright {
    width: 94%;
    float: none;
    margin: 20px 10px;
  }

}

@media screen and (max-width: 760px) {

  .site-branding h1.site-title { width: 18%; }

  .site-branding h2.site-description {
    width: 65%;
    margin-top: 5px;
    margin-left: -10px;
  }

  #site-navigation ul { margin-top: 22px; }

  #site-navigation ul li a { font-size: 1.4em; }

  #site-navigation-two { width: 30%; }

}

@media screen and (max-width: 685px) {

  .site-branding h1.site-title { width: 18%; }

  .site-branding h2.site-description {
    width: 60%;
    margin-top: 15px;
  }

  #masthead #widget-cabecera { top: 10px; }

  #site-navigation ul li a {
    font-size: 1.2em;
    padding: 0 5px;
  }

  #site-navigation ul { margin-top: 30px; }

  #site-navigation-two { width: 30%; }

}

@media screen and (max-width: 600px) {

  .site-branding h1.site-title { width: 25%; }
  
  .site-branding h2.site-description {
    width: 60%;
    margin-top: 30px;
    margin-left: -25px;
  }

  #masthead {
    overflow: visible;
    height: inherit;
  }

  #masthead #widget-cabecera {
    position: absolute;
    right: 0;
    top: 15px;
    float: none;
    clear: both;
    width: auto;
  }

  #masthead #widget-cabecera form#searchform { 
    margin: 0 auto;
    position: relative;
    top: -8px;
  }

  #site-navigation {
    position: relative;
    top: 15px;
    text-align: center;
  }

  #site-navigation h1.menu-toggle { margin-bottom: 10px; }

  #site-navigation ul#menu-menu-principal-de-navegacion { margin: 0; }

  #random-header { margin: 0; }

  #site-navigation ul li {
    display: block;
    background: #eee;
    border-bottom: 1px solid #dcdcdc;
  }

  #site-navigation ul li a,
  #site-navigation ul li a:hover,
  #site-navigation ul li a:focus { background: none; }

  #random-header { margin-top: 15px; }

  #main #primary, #main #secondary {
    padding: 0 10px;
    float: none;
    width: 94%;
  }

  #secondary .widget {
    float: left;
    width: 50%;
  }

  .footer-entry-meta {}

  #colophon .footer-inner { margin: 0 auto; }

  #site-navigation-two {
    width: 40%;
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: left;
  }

  .menu-menu-secundario-de-navegacion-container ul {
    display: block;
    margin: 10px 0 20px 20px;
    list-style: disc;
  }

    .menu-menu-secundario-de-navegacion-container ul li {
      float: none;
      height: 25px;
      border-bottom: none;
    }

  .footer-inner .fleft {
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
  }

  .footer-inner .fright {
    width: 94%;
    float: none;
    margin: 20px 10px;
  }
ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}

}

@media screen and (max-width: 568px) {

  body { background: transparent url(../img/background-mobile.jpg) 0 0 repeat-x; }

  #site-navigation h1.menu-toggle {
    background: transparent url(../img/background-menumobile.jpg) left bottom repeat-x;
    padding: 10px 0;
    line-height: 22px;
    margin-bottom: 0;
  }

  .site-branding h1.site-title { width: 17%; }

  .site-branding h2.site-description {
    width: 55%;
    margin-top: 28px;
    margin-left: -5px;
  }

  #site-navigation { top: 36px; }

  #random-header { margin-top: 36px; }

  .footer-entry-meta { top: -88px; }

ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}
}

@media screen and (max-width: 480px) {

  .site-branding h2.site-description {
    margin-top: 23px;
    margin-left: -5px;
    margin-bottom: 0;
  }

  #masthead #widget-cabecera {
    position: inherit;
    right: inherit;
    bottom: inherit;
    float: none;
    clear: both;
    width: 100%;
  }

    #masthead #widget-cabecera .widget_search { margin: 0; }

  .img-wrap {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #secondary .widget_facebook_likebox,
  #secondary .widget_twitter_timeline {
    clear: both;
    float: none;
    width: 100%;
  }

  .footer-inner .fleft { width: 40%; }

  #site-navigation-two { margin-right: 5px; }
ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}

}

@media screen and (max-width: 380px) {

  .site-branding h1.site-title { width: 22%; }
  
  .site-branding h2.site-description {
    width: 75%;
    margin-top: 15px;
    margin-left: 0;
  }

  #masthead {
    overflow: visible;
    height: inherit;
  }

  #masthead #widget-cabecera {
    position: inherit;
    right: inherit;
    bottom: inherit;
    float: none;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
  }

  #masthead #widget-cabecera form#searchform { 
    margin: 0 auto;
    position: relative;
    top: -20px;
  }

  #site-navigation {
    position: relative;
    top: -16px;
    text-align: center;
  }

  #site-navigation ul#menu-menu-principal-de-navegacion { margin: 0; }

  #random-header { margin: 0; }

  #site-navigation ul li {
    display: block;
    background: #eee;
    border-bottom: 1px solid #dcdcdc;
  }

  #site-navigation ul li a,
  #site-navigation ul li a:hover,
  #site-navigation ul li a:focus { background: none; }

  #main #primary, #main #secondary {
    padding: 0 10px;
    float: none;
    width: 94%;
  }

  .img-wrap {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #colophon {
    background-position: center bottom;
    padding-bottom: 65px;
  }

  #colophon .footer-inner { margin: 0 auto; }

  #site-navigation-two {
    width: 56%;
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: left;
  }

  .menu-menu-secundario-de-navegacion-container ul {
    display: block;
    margin: 10px 0 20px 20px;
    list-style: disc;
  }

    .menu-menu-secundario-de-navegacion-container ul li {
      float: none;
      height: auto;
      border-bottom: none;
      line-height: 15px;
      margin-bottom: 10px;
    }

    #secondary .widget_facebook_likebox,
    #secondary .widget_twitter_timeline {
      clear: both;
      float: none;
      width: 100%;
    }

  .footer-entry-meta { top: -90px; }

  .footer-inner .fleft {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 35%;
  }

  .footer-inner .fright {
    width: 94%;
    float: none;
    margin: 20px 10px;
  }

  #random-header { margin: 15px 0 0 0; }

  #site-navigation { top: 5px; }

  #masthead #widget-cabecera form#searchform { top: -5px; }
ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}

}

@media screen and (max-width: 320px) {

  .site-branding h1.site-title { width: 25%; }
  
  .site-branding h2.site-description {
    width: 75%;
    margin-top: 15px;
  }

  #masthead {
    overflow: visible;
    height: inherit;
  }

  #masthead #widget-cabecera {
    position: inherit;
    right: inherit;
    bottom: inherit;
    float: none;
    clear: both;
    width: 100%;
  }

  #masthead #widget-cabecera form#searchform { 
    margin: 0 auto;
    position: relative;
    top: -17px;
  }

  #site-navigation {
    position: relative;
    top: -13px;
    text-align: center;
  }

  #site-navigation ul#menu-menu-principal-de-navegacion { margin: 0; }

  #random-header { margin: 0; }

  #site-navigation ul li {
    display: block;
    background: #eee;
    border-bottom: 1px solid #dcdcdc;
  }

  #site-navigation ul li a,
  #site-navigation ul li a:hover,
  #site-navigation ul li a:focus { background: none; }

  #main #primary, #main #secondary {
    padding: 0 10px;
    float: none;
    width: 94%;
  }

  .img-wrap {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #colophon {
    background-position: center bottom;
    padding-bottom: 65px;
  }

  #colophon .footer-inner { margin: 0 auto; }

  #site-navigation-two {
    width: 44%;
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: left;
  }

  .menu-menu-secundario-de-navegacion-container ul {
    display: block;
    margin: 10px 0 20px 20px;
    list-style: disc;
  }

    .menu-menu-secundario-de-navegacion-container ul li {
      float: none;
      height: auto;
      border-bottom: none;
      line-height: 15px;
      margin-bottom: 10px;
    }

  .footer-inner .fleft {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 47%;
  }

  .footer-inner .fright {
    width: 94%;
    float: none;
    margin: 20px 10px;
  }

  #random-header { margin: 25px 0 0 0; }

  #site-navigation { top: 10px; }

  #masthead #widget-cabecera form#searchform { top: -5px; }

ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}

}

@media screen and (max-width: 240px) {

  .site-branding h1.site-title { width: 30%; }

  .site-branding h2.site-description {
    width: 125%;
    margin-top: -9px;
  }

  .footer-entry-meta {
    font-size: .75em;
    line-height: 10px;
  }

  #widget-cabecera { display: none; }

  #site-navigation { top: 5px; }

  #masthead { padding-bottom: 15px; }

  div.sharedaddy .sd-content {
    position: relative;
    top: 20px;
  }

ul.sub-menu {
   display: none;
   position: relative;
}

li.sub-menu-item {
   float: left;
}

li.current-menu-parent ul,
li.current-menu-item ul {
   display: block !important;
}

}